# Python virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Flask
instance/
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node modules (for React frontend)
node_modules/

# Build folders
dist/
build/